apiVersion: apps/v1
kind: Deployment
metadata:
  name: identity-service
  namespace: agro
spec:
  replicas: 1
  selector:
    matchLabels:
      app: identity-service
  template:
    metadata:
      labels:
        app: identity-service
    spec:
      containers:
        - name: identity-service
          image: rismair/agro-identity:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 80
          env:
            - name: ASPNETCORE_URLS
              value: http://+:80
            - name: ConnectionStrings__DefaultConnection
              value: Host=postgres-identity;Database=agro_identity;Username=postgres;Password=postgres123
---
apiVersion: v1
kind: Service
metadata:
  name: identity-service
  namespace: agro
spec:
  selector:
    app: identity-service
  ports:
    - name: http
      port: 80
      targetPort: 80
